{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block title %}
    <title>Início</title>
{% endblock title %}

{% block content %}

<div class="jumbotron" style="margin-top: -20px;">
    <div class="container">
        <h1>Bem vindo!</h1>
        <small>Este é um sistema para gerenciamento de canhotos de notas fiscais</small>
        <p><a href="https://github.com/vmc13/sgc" target="_blank">Clique aqui para ver no github</a></p>


       {% if request.user.is_authenticated %}
            <p>User <span style="color: darkturquoise;">{{request.user.username  }}</span> is logged in!</p>
        {% else %}
            <p>User is not logged in!</p>
       {% endif %}
    </div>
</div>

{% endblock content %}
