{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Upload PDF</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}

{% for message in messages %}
    {% if 'success' in message.tags %}
        <p class="alert alert-success" role="alert"><span style="font-weight: bold;" >{{ message }}</span></p>
    {% else %}
    <p class="alert alert-danger" role="alert"><span style="font-weight: bold;" >{{ message }}</span></p>
    {% endif %}
{% endfor %}


<div class="container">

    <!--Simple Form-->
    <h2 class="my-4">Upload PDF de canhotos escaneados</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <input type="file" name="upload" accept=".doc, .docx, .pdf, .txt">
          <br>
          <button class="btn btn-dark my-4" type="submit">Submit</button>
    </form>

{% endblock content %}